body {
    font-family: "Poppins", sans-serif;
}

.Contact {
    width: 100%;
}

.background_bubble_1 {
    position: absolute;
    z-index: -10;
    margin-top: -65px;
}

.background_bubble_1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.Contact_Main {
    display: flex;
    justify-content: space-between;
    padding-top: 128px;
    margin-bottom: 70px;

}


.Contact_Left {
    padding-left: 150px;
    padding-top: 263px;
}

.Contact_Right {
    width: 100%;
    padding-left: 101px;
    padding-top: 2px;
}

.Title_Contact h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #ff64ae;
}

.Title_Contact h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    color: #091156;
    margin-top: -2px
}

.Contact_Right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8b8b8b;
    letter-spacing: 1.6px;
    margin-top: -6px;
}


.frm_input {
    width: 100%;
}

.Name {
    padding-top: 33px;
    width: 100%;
}

.txtFirstName {
    width: 237px;
    height: 57px;
    border-radius: 15px;
    border: 1px #D9DDFE;
    border-style: solid;


}

::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.8px;
    color: #C5C5C5;
    text-indent: 20px;
    font-family: "Poppins", sans-serif;
}

.txtLastName {
    width: 237px;
    height: 57px;
    border-radius: 15px;
    border: 1px #D9DDFE;
    border-style: solid;
    margin-left: 32px;
}

.Email {
    padding-top: 39px;
}

.emlEmail {
    width: 515px;
    height: 57px;
    border-radius: 15px;
    border: 1px #D9DDFE;
    border-style: solid;
    /* margin-top: 39px; */
}

.Sub {
    padding-top: 39px;
}

.txtSub {
    width: 515px;
    height: 57px;
    border-radius: 15px;
    border: 1px #D9DDFE;
    border-style: solid;
    /* margin-top: 39px; */
}

.Inquiry {
    padding-top: 39px;
}

.txtIn {
    width: 515px;
    height: 237px;
    border-radius: 15px;
    border: 1px #D9DDFE;
    border-style: solid;
    box-sizing: border-box;
    padding-top: 24px;
}

.Button_Send {
    padding-top: 52px;
}

.btnSend {
    width: 249px;
    height: 58px;
    background-color: #ff64ae;
    font-size: 16px;
    font-weight: 600px;
    line-height: 24px;
    letter-spacing: 2.6px;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
    border-style: none;
}


@media screen and (max-width: 1400px) {

    .Contact_Main {
        padding: 45px 145px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .Contact_Left {
        padding-top: 0;
        padding-left: 0;
    }

    .Contact_Left img {
        width: 80%;
    }

    .Contact_Right {
        padding-left: 0;
        width: 50%;
    }
}

@media screen and (max-width: 1350px) {
    .Contact_Left {
        width: 100%;
    }

    .Contact_Right {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .Contact_Main {
        padding: 45px;
    }

    .Title_Contact h1 {
        font-size: 30px;
    }

    .frm_input {
        width: 80%;
    }

    .txtFirstName {
        width: 40%;
    }

    .txtLastName {
        width: 40%;
    }

    .emlEmail {
        width: 100%;
    }

    .txtSub {
        width: 100%;
    }

    .txtIn {
        width: 100%;

    }
}